@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  color: #ffffff;
  background: #333333;
}

main h1,
main h3 {
  margin: 0px;
}

main h1 {
  padding-top: 20px;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
  width: 800px;
}

.challenges {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px 0px;
}

.challenge {
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
  text-align: center;
}

.challenge a {
  align-self: center;
  flex: 1;
  padding: 10px;
}
