@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "day-01.css";
@import "day-02.css";
@import "day-03.css";
@import "day-05.css";
@import "day-06.css";
@import "day-10.css";
@import "day-11.css";
@import "day-13.css";
@import "day-15.css";
@import "day-16.css";
@import "day-17.css";
@import "day-19.css";
@import "day-20.css";
@import "day-21.css";
@import "day-22.css";
@import "day-23.css";
@import "day-24.css";
@import "day-25.css";
@import "day-26.css";
@import "day-27.css";
@import "day-28.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  color: #ffffff;
  background: #333333;
}

main h1,
main h3 {
  margin: 0px;
}

main h1 {
  padding-top: 20px;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
  width: 800px;
}

.challenges {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px 0px;
}

.challenge {
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
  text-align: center;
}

.challenge a {
  align-self: center;
  flex: 1;
  padding: 10px;
}
